{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
{{ end }}

<script defer src="https://stats.fundor333.com/script.js" data-website-id="b15e8541-7cd0-455c-970d-4acd8d526276" data-domains="matteoscarpa.it,www.matteoscarpa.it,matteoscarpa.com,www.matteoscarpa.com"   data-performance="true"></script>

<script defer src="https://stats.fundor333.com/recorder.js" data-website-id="b15e8541-7cd0-455c-970d-4acd8d526276" data-domains="matteoscarpa.it,www.matteoscarpa.it,matteoscarpa.com,www.matteoscarpa.com"   data-performance="true"></script>

<link rel="webmention" href="https://webmention.io/fundor333.com/webmention" data-domains="matteoscarpa.it,www.matteoscarpa.it,matteoscarpa.com,www.matteoscarpa.com" />
<a rel="me" href="https://mastodon.social/@fundor333"   data-performance="true"></a>


